@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';

#{$content} {
  padding: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  background-color: $main-background;

  & > div {
    border-radius: 12px;
    overflow: hidden;
  }

  &__about {
    background-color: $primary;

    p {
      margin-bottom: 10px;
    }
  }

  &__description {
    background-color: $white;
  }

  &__resources,
  .resources {
    display: flex;
    column-gap: 10px;
    background-color: $primary;
    width: 100%;

    &__text {
      padding: 30px;
    }

    img {
      max-width: 50%;
      width: 100%;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }

  ul,
  ol {
    margin-left: 0;

    li {
      list-style: none;
      position: relative;
      padding-left: 22px;
      color: $black;
      line-height: 1.375;
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &::before {
        position: absolute;
        top: 11px;
        left: 2px;
        content: '';
        width: 14px;
        height: 1px;
        background: $black;
      }
    }
  }

  .white-text {
    $text-color: $white;

    p,
    p strong {
      color: $text-color;
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$content} {
    padding: 40px 20px;
  }
}

@media (max-width: #{$mediaSM}) {
  #{$content} {
    padding: 40px 10px;
  }
}
