<div class="tmpl-hh-content">
  <div class="tmpl-hh-content__about l-paddings white-text">
    <p><strong>С 2009 года мы стремимся:</strong></p>
    <p>Обустроить и благоустроить территории, объекты и дороги Сибири и Дальнего Востока так, что бы каждый житель чувствовал себя комфортно, мог гордится своим объектом и тем, что он живет в этом регионе.</p>
  </div>
  <div class="l-paddings b-vacancy-desc tmpl-hh-content__description">
    <div class="vacancy-branded-user-content" data-qa="vacancy-description" itemprop="description">
      <p><strong>Мы предлагаем:</strong></p>
      <ul>
        <li>Оплачиваемую стажировку (1-3&#160;дня);</li>
        <li>Официальное трудоустройство и&#160;соц. пакет;</li>
        <li>График работы 5/2&#160;с 8:30 до&#160;17:30;</li>
        <li>Место для отдыха и&#160;питания;</li>
        <li>Перспективы карьерного роста: кладовщик -&#62; старший кладовщик -&#62; заведующий складом;</li>
        <li>Поддержку дружной команды.</li>
      </ul>
      <p><strong>Функции и&#160;обязанности кладовщика:</strong></p>
      <ul>
        <li>Принимать и&#160;складировать поступающий товар;</li>
        <li>Собирать заказы получателям по&#160;отгрузочным документам;</li>
        <li>Производить отпуск и&#160;погрузку заказов получателям;</li>
        <li>Поддерживать чистоту и&#160;порядок на&#160;складе;</li>
        <li>Участвовать в&#160;инвентаризации ТМЦ на&#160;складе.</li>
      </ul>
    </div>
  </div>
  <div class="tmpl-hh-content__resources resources white-text">
    <div class="resources__text">
      <p><strong>Ключевые ресурсы компании&#160;&#8212; это сотрудники</strong>
      </p>
      <p>число которых на&#160;сегодня составляет более 25-ти человек, и&#160;наша численность только растёт!</p>
    </div>
    <img alt="" src="./assets/img/resources.jpg">
  </div>
  <div class="tmpl-hh-content__principles principles">
    <p class="principles__title"><strong>Принципы компании</strong></p>
    <div class="principles__wrapper">
      <div class="principles__item">
        <p>Долгосрочное, продуктивное <b>партнерство</b></p>
      </div>
      <div class="principles__item">
        <p>Передавать <b>опыт</b> своим партнерам</p>
      </div>
      <div class="principles__item">
        <img alt="" src="./assets/img/principles-img-1.jpg">
      </div>
      <div class="principles__item">
        <img alt="" src="./assets/img/principles-img-2.jpg">
      </div>
      <div class="principles__item">
        <p><b>Открытые и&#160;честные взаимоотношения</b> с&#160;партнерами</p>
      </div>
      <div class="principles__item">
        <p>
          <b>Лидерство</b>&#160;&#8212; это&#160;то, что нужно развивать в&#160;себе и&#160;в&#160;своем окружении
        </p>
      </div>
      <div class="principles__item principles__item_big">
        <p>
          <b>Находить решения</b> технических задач, стоящих перед клиентами
        </p>
      </div>
      <div class="principles__item principles__item_big">
        <p>
          <b>Ответственность</b> за&#160;каждый результат в&#160;нашей работе
        </p>
      </div>
      <div class="principles__item principles__item_big">
        <p>
          <b>Совершенствовать свою работу</b>, развивая и&#160;обучая сотрудников
        </p>
      </div>
      <div class="principles__item principles__item_big">
        <img alt="" src="./assets/img/principles-img-3.jpg">
      </div>
    </div>
  </div>
  <hht:vacancy-description/>
</div>
