<div class="tmpl-hh-content">
  <div class="tmpl-hh-content__about white-text">
    <p><strong>С 2009 года мы стремимся:</strong></p>
    <p>Обустроить и благоустроить территории, объекты и дороги Сибири и Дальнего Востока так, что бы каждый житель чувствовал себя комфортно, мог гордится своим объектом и тем, что он живет в этом регионе.</p>
  </div>
  <div class="tmpl-hh-content__content-hh">
    <hht:vacancy-description/>
  </div>
  <div class="tmpl-hh-content__resources white-text">
    <div class="tmpl-hh-content__resources-text">
      <p>
        <strong>Ключевые ресурсы компании&#160;&#8212; это сотрудники</strong>
      </p>
      <p>число которых на&#160;сегодня составляет более 25-ти человек, и&#160;наша численность только растёт!</p>
    </div>
    <img alt="" src="./assets/img/resources.jpg">
  </div>
  <div class="tmpl-hh-content__principles">
    <p class="tmpl-hh-content__principles-title">
      <strong>Принципы компании</strong></p>
    <div class="tmpl-hh-content__principles-wrapper">
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_1">
        <p>Долгосрочное, продуктивное <b>партнерство</b></p>
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_2">
        <p>Передавать <b>опыт</b> своим партнерам</p>
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_3">
        <img alt="" src="./assets/img/principles-img-1.jpg">
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_4">
        <img alt="" src="./assets/img/principles-img-2.jpg">
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_5">
        <p><b>Открытые и&#160;честные взаимоотношения</b> с&#160;партнерами
        </p>
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_6">
        <p>
          <b>Лидерство</b>&#160;&#8212;&#160;это то, что нужно развивать в&#160;себе и&#160;в&#160;своем окружении
        </p>
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_7 tmpl-hh-content__principles-item_big">
        <p>
          <b>Находить решения</b> технических задач, стоящих перед клиентами
        </p>
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_8 tmpl-hh-content__principles-item_big">
        <p>
          <b>Ответственность</b> за&#160;каждый результат в&#160;нашей работе
        </p>
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_9 tmpl-hh-content__principles-item_big">
        <p>
          <b>Совершенствовать свою работу,</b> развивая и&#160;обучая сотрудников
        </p>
      </div>
      <div class="tmpl-hh-content__principles-item tmpl-hh-content__principles-item_10 tmpl-hh-content__principles-item_big">
        <img alt="" src="./assets/img/principles-img-3.jpg">
      </div>
    </div>
  </div>
</div>
