<div class="tmpl-hh-content">
  <div class="tmpl-hh-content__about l-paddings">
    <p>
      <strong>С 2009 года мы стремимся:</strong>
    </p>
    <p>Обустроить и благоустроить территории, объекты и дороги Сибири и Дальнего Востока так, что бы каждый житель чувствовал себя комфортно, мог гордится своим объектом и тем, что он живет в этом регионе.</p>
  </div>
  <div class="l-paddings b-vacancy-desc tmpl-hh-content__description">
    <div class="vacancy-branded-user-content" itemprop="description" data-qa="vacancy-description">
      <p><strong>Мы предлагаем:</strong></p>
      <ul>
        <li>Оплачиваемую стажировку (1-3&#160;дня);</li>
        <li>Официальное трудоустройство и&#160;соц. пакет;</li>
        <li>График работы 5/2&#160;с 8:30 до&#160;17:30;</li>
        <li>Место для отдыха и&#160;питания;</li>
        <li>Перспективы карьерного роста: кладовщик -&#62; старший кладовщик -&#62; заведующий складом;</li>
        <li>Поддержку дружной команды.</li>
      </ul>
      <p><strong>Функции и&#160;обязанности кладовщика:</strong></p>
      <ul>
        <li>Принимать и&#160;складировать поступающий товар;</li>
        <li>Собирать заказы получателям по&#160;отгрузочным документам;</li>
        <li>Производить отпуск и&#160;погрузку заказов получателям;</li>
        <li>Поддерживать чистоту и&#160;порядок на&#160;складе;</li>
        <li>Участвовать в&#160;инвентаризации ТМЦ на&#160;складе.</li>
      </ul>
    </div>
  </div>
  <hht:vacancy-description/>
</div>
