<div class="tmpl-hh-header">
    <!-- <div class="tmpl-hh-header__wrapper">
        <img src="./assets/img/header-logo.svg" class="tmpl-hh-header__logo" alt="" />
        <div class="tmpl-hh-header__slider swiper">
            <div class="tmpl-hh-header__slider-wrapper swiper-wrapper">
                <div class="tmpl-hh-header__slider-slide swiper-slide">
                    <picture>
                        <source srcset="./assets/img/slider-8/1-sm.jpg" media="(max-width: 699px)"/>
                        <img src="./assets/img/slider-8/1.jpg" class="tmpl-hh-header__slider-img" alt=""/>
                    </picture>
                    <div class="tmpl-hh-header__slider-text">
                        <picture>
                            <source srcset="./assets/img/slider-8/1-text-sm.svg" media="(max-width: 699px)"/>
                            <img src="./assets/img/slider-8/1-text.svg" alt=""/>
                        </picture>
                    </div>
                </div>
                <div class="tmpl-hh-header__slider-slide swiper-slide">
                    <picture>
                        <source srcset="./assets/img/slider-8/2-sm.jpg" media="(max-width: 699px)"/>
                        <img src="./assets/img/slider-8/2.jpg" class="tmpl-hh-header__slider-img" alt=""/>
                    </picture>
                    <div class="tmpl-hh-header__slider-text">
                        <picture>
                            <source srcset="./assets/img/slider-8/2-text-sm.svg" media="(max-width: 699px)"/>
                            <img src="./assets/img/slider-8/2-text.svg" alt=""/>
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>